In [3]:
import pandas as pd
import numpy as np

In [8]:
data = {"I":[0.01, 0.80, 0.89, 0.97, 1.04, 1.16], "V":[0.072, 55.3, 67.3, 77.5, 88.1, 107.7]}
df = pd.DataFrame(data)

In [9]:
df

      I        V
0  0.01    0.072
1  0.80   55.300
2  0.89   67.300
3  0.97   77.500
4  1.04   88.100
5  1.16  107.700

In [10]:
df["R"] = df["V"]/df["I"]

In [11]:
df

      I        V          R
0  0.01    0.072   7.200000
1  0.80   55.300  69.125000
2  0.89   67.300  75.617978
3  0.97   77.500  79.896907
4  1.04   88.100  84.711538
5  1.16  107.700  92.844828

In [12]:
R0 = 7.2
a = 0.0045
T0 = 25.4
df["T"] = ((df["R"]/R0) - 1) * (1/0.0045) + T0

In [13]:
df

      I        V          R            T
0  0.01    0.072   7.200000    25.400000
1  0.80   55.300  69.125000  1936.665432
2  0.89   67.300  75.617978  2137.065973
3  0.97   77.500  79.896907  2269.131704
4  1.04   88.100  84.711538  2417.731434
5  1.16  107.700  92.844828  2668.758876

$$\delta_{T} = \sqrt{(\dfrac{I_{0}\delta_{V}}{I\alpha V_{0}})^2 + \dfrac{VI_{0}\delta_{I}}{V_{0}\alpha I^{2}})^{2} + (\dfrac{V\delta_{I0}}{IV_{0}\alpha})^{2} + (\dfrac{VI_{0}\delta_{V0}}{IV_{0}^{2}})^{2}}$$

In [ ]:
df['delT'] =