In [3]:
import pandas as pd
import numpy as np

# Theory

$$T = \left(\dfrac{R}{R_{0}} - 1\right) \dfrac{1}{\alpha} + T_{0}$$     
         
$$\delta T = \sqrt{\left(\dfrac{I_{0}\delta V}{I\alpha V_{0}}\right)^2 + \left(\dfrac{VI_{0}\delta I}{V_{0}\alpha I^{2}}\right)^{2} + \left(\dfrac{V\delta I_0}{IV_{0}\alpha}\right)^{2} + \left(\dfrac{VI_{0}\delta V_0}{I\alpha V_{0}^{2}}\right)^{2}}$$

# Procedure

1. Turn on the Tungsten bulb to a low setting.    
2. Use the voltmeter to determine the voltage across the power supply and use the current clamp to determine the current in the circuit.    
3. Turn the Tungsten bulb power supply to the levels conducted in 7th step.   
4. Using the formula in Theory section to calculate the temperature of the bulb.

In [8]:
data = {"I":[0.01, 0.80, 0.89, 0.97, 1.04, 1.16], "V":[0.072, 55.3, 67.3, 77.5, 88.1, 107.7]}
df = pd.DataFrame(data)

In [9]:
df

      I        V
0  0.01    0.072
1  0.80   55.300
2  0.89   67.300
3  0.97   77.500
4  1.04   88.100
5  1.16  107.700

In [10]:
df["R"] = df["V"]/df["I"]

In [11]:
df

      I        V          R
0  0.01    0.072   7.200000
1  0.80   55.300  69.125000
2  0.89   67.300  75.617978
3  0.97   77.500  79.896907
4  1.04   88.100  84.711538
5  1.16  107.700  92.844828

In [14]:
R0 = 7.2
a = 0.0045
T0 = 25.4
I0 = 0.01
V0 = 0.072
df["T"] = ((df["R"]/R0) - 1) * (1/0.0045) + T0

In [13]:
df

      I        V          R            T
0  0.01    0.072   7.200000    25.400000
1  0.80   55.300  69.125000  1936.665432
2  0.89   67.300  75.617978  2137.065973
3  0.97   77.500  79.896907  2269.131704
4  1.04   88.100  84.711538  2417.731434
5  1.16  107.700  92.844828  2668.758876

In [28]:
df["delT"] = np.sqrt(((I0 * 0.05)/(df["I"] * 0.0045 * V0))**2 
                     + ((df["V"] * I0 * 0.005)/(V0 * 0.0045 * (df["I"]**2)))**2 
                     + ((df["V"] * 0.005)/(df["I"] * V0 * 0.0045))**2
                     + ((df["V"] * I0 * 0.05)/(df["I"] * 0.0045 * (V0**2)))**2)

In [30]:
df

      I        V          R            T         delT
0  0.01    0.072   7.200000    25.400000   268.926184
1  0.80   55.300  69.125000  1936.665432  1825.713242
2  0.89   67.300  75.617978  2137.065973  1997.193647
3  0.97   77.500  79.896907  2269.131704  2110.199744
4  1.04   88.100  84.711538  2417.731434  2237.356109
5  1.16  107.700  92.844828  2668.758876  2452.160445

In [32]:
df.to_csv("./temp.csv")