In [22]:
import pandas as pd
import numpy as np
from IPython.display import Image
B = Image('BNeon.jpg')
C = Image('CNitrogen.jpg')
Argon = Image('standardArgon.jpg')
Nitrogen = Image('standardNitrogen.jpg')
Neon = Image('standardNeon.jpg')
setup = Image('setup.jpg')

# Experiment 3 Mystery Tubes!
## Objective:
We will determine the unknown gas tubes by observing and comparing their emission spectra, measure wavelengths of two of the most prominent spectral lines for each tube, and verify them with research results.
## Method:
- Load tube B into power supply and and set up the spectrometer as illustrated in the figure below to observe the emitted light.   
![Experiment 4](setup.jpg)   

- Use the sliders to find the distance between prominent spectral lines and the central maximum and record them.
- Load tube C into power supply and repeat the procedures above.

Note that in the following analysis, we let the variable a equal the distance between the diffraction grating and the spectrometer, and we let the variable b represent the distance between the central maximum and the prominent spectral line. So then, to collect data, we simply found a and b using sliders in the order of first tube B, and then tube C, and then we used the following equations.

From theory we know that if θ is the angle between the central maximum and the first fringe, d is the slit width of the diffraction grating, and λ is the wavelength of the light being used, we have:   
$$\lambda = dsin(\theta)$$   
We also know that based on how the variables were defined,   
$$\lambda = \dfrac{sin\theta}{D} = \dfrac{a}{D\sqrt{a^{2}+b^{2}}}$$   
and therefore,   
$$\delta_{\lambda} = \sqrt{\dfrac{((a^{3} + b^{2}a)\frac{\delta_{D}}{D})^{2} + (b^{2}\delta_{a})^{2} + (ab\delta_{b})^{2}}{D^{2}(a^{2}+b^{2})^{3}}}$$   

Finally, it should be noted that in Experiment 1, we remeasured the slit density D to be $D = 4873\pm49 slits·cm^{-1}$.

## Data Analysis:

### Determine Unknown Gas

The observed emission spectra of tube B 
![B](BNeon.jpg)
The observed emission spectra of tube C
![C](CNitrogen.jpg)   

The possibilities of these gases are given to be Nitrogen, Neon, and Argon, with emission spectra below respectively from the source http://hyperphysics.phy-astr.gsu.edu/hbase/quantum/atspect.html

![Nitrogen](standardNitrogen.jpg)
![Neon](standardNeon.jpg)
![Argon](standardArgon.jpg)

We could observe that the emission spectra of B contains a bright yellow line, followed by a series of bright orange and red lines, with a single wide gap between green and yellow lines. The emission spectra of C contains many bright green lines, a bright yellow line, followed by bright red lines with two clear gaps within green lines. By comparing these distinctive features with the provided emission spectrum, we were able to identify that tube B contains Neon and tube C contains Nitrogen. 

### Measure Prominent Wavelengths
For tube B, we chose to measure the wavelengths of leading yellow and orange lines; and for tube C, we chose to measure the wavelengths of leading green and yellow lines. 

In these tables, 'a' stands for the distance between the spectral line and central maximum with standard error of 0.04 for each measurement and unit of cm; 'b' stands for the distance between diffraction grating and spectrometer with uncertainty of 0.05 for each measurement and unit of cm.

In [11]:
# Data table for tube B:
dfB

    color     b     a
0  yellow  17.3  56.6
1     red  19.2  56.6

In [12]:
# Data table for tube C:
dfC

    color     b     a
0   green  19.7  70.3
1  yellow  21.3  70.3

Using the equations from method sections, we yielded for tube B (Neon):   
$\lambda_{yellow} = 600\pm6.2nm$   
$\lambda_{orange} = 659\pm6.8nm$   
for tube C (Nitrogen):   
$\lambda_{green} = 515\pm5.1nm$   
$\lambda_{yellow} = 554\pm6.1nm$   

Quoting data from National Institute of Standards and Technology https://physics.nist.gov/PhysRefData/Handbook/Tables/neontable2.htm:    
for B(Neon), there should be persistant spectral lines at 602.9nm and 659.9nm, which agrees with our experimental outcoumes;   
for C(Nitrogen), there was no persistant spectral lines within range of our experimentally measured wavelengths. However, there should be a persistant spectral line at 568.0nm, which fits into the range of a bright yellow line we observed between 565nm and 590nm. We believe we were not able to acquire the accurate wavelength because our uncertainty for the distance between diffraction grating and the spectrometer is too small. Instead of using the optical axis to measure their vertical distance, we directly determined it using a meter stick, which could involve multiple observation errors.

# Appendix

In [36]:
B = {'color':['yellow', 'orange'], 'a':[17.3, 19.2], 'b':[56.6, 56.6]}
C = {'color':['green', 'yellow'], 'a':[19.7, 21.3], 'b':[70.3, 70.3]}
dfB = pd.DataFrame(B)
dfC = pd.DataFrame(C)
dfB

    color     a     b
0  yellow  17.3  56.6
1  orange  19.2  56.6

In [37]:
dfB['lambda'] = dfB['a']/(4873e-7 * np.sqrt((dfB['a'])**2 + (dfB['b'])**2))
dfC['lambda'] = dfC['a']/(5233e-7 * np.sqrt(dfC['a']**2 + dfC['b']**2))
dfB

    color     a     b      lambda
0  yellow  17.3  56.6  599.844832
1  orange  19.2  56.6  659.229957

In [38]:
dfC

    color     a     b      lambda
0   green  19.7  70.3  515.637571
1  yellow  21.3  70.3  554.117354

In [40]:
# Propagating error for yellow wavelength of tube B

a = 17.3
b = 56.6
db = 0.05
da = 0.04
D = 4873
dD = 49
dl = np.sqrt((((a**3 + a*b**2)*dD/D)**2 + (b**2 * da)**2 + (a*b*db)**2) /((a**2 + b**2)**3*D**2))
dl

6.18263453404893e-07

In [41]:
# Propagating error for orange wavelength of tube B

a = 19.2
b = 56.6
db = 0.05
da = 0.04
D = 4873
dD = 49
dl = np.sqrt((((a**3 + a*b**2)*dD/D)**2 + (b**2 * da)**2 + (a*b*db)**2) /((a**2 + b**2)**3*D**2))
dl

6.7624764240299e-07

In [42]:
# Propagating error for green wavelength of tube C

a = 17.3
b = 70.3
db = 0.05
da = 0.04
D = 4873
dD = 49
dl = np.sqrt((((a**3 + a*b**2)*dD/D)**2 + (b**2 * da)**2 + (a*b*db)**2) /((a**2 + b**2)**3*D**2))
dl

5.056171316722628e-07

In [43]:
# Propagating error for yellow wavelength of tube C

a = 21.3
b = 70.3
db = 0.05
da = 0.04
D = 4873
dD = 49
dl = np.sqrt((((a**3 + a*b**2)*dD/D)**2 + (b**2 * da)**2 + (a*b*db)**2) /((a**2 + b**2)**3*D**2))
dl

6.082777859038892e-07